<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="ValidationObjects" type="DPRTDData.Code.ValidationObjectsConfiguration,
    DPRTDData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b979248f06443c0f"/>
  </configSections>
  <connectionStrings>
    <add name="RuleEnginePCConnectionString1" connectionString="Data Source=RUSHMOREDEV;Initial Catalog=RuleEnginePC;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="live_ReviewsDatabaseConnectionString" connectionString="Data Source=RUSHMOREDEV;Initial Catalog=live_ReviewsDatabase;Integrated Security=True"                                                                                                                                                                                                                                                                                                         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <ValidationObjects SourceType="DPRTDData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=70641225ee6a308c">
    <ConfigurationTypes>
      <add SourceType="DPRTDData.DPRTight" DisplayName="DPR Tight Validation"></add>
      <add SourceType="DPRTDData.DPRLite" DisplayName="DPR Lite Validation"></add>
      <add SourceType="DPRTDData.DPRTDData" DisplayName="DPR TD Validation"></add>
    </ConfigurationTypes>
  </ValidationObjects>
  <system.web>
  </system.web>
</configuration>
