<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApplication1.Properties.Settings.live_ReviewsDatabaseConnectionString"
            connectionString="Data Source=.;Initial Catalog=live_ReviewsDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>