<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="ValidationObjects" type="DPRTDData.Code.ValidationObjectsConfiguration,&#xA;    DPRTDData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b979248f06443c0f"/>
	</configSections>
	<connectionStrings>
		<add name="RuleEnginePCConnectionString1" connectionString="Data Source=RUSHMOREDEV;Initial Catalog=RuleEnginePC;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="live_ReviewsDatabaseConnectionString" connectionString="Data Source=RUSHMOREDEV;Initial Catalog=live_ReviewsDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
		<add name="Live_ReviewsDatabaseFullConnectionString" connectionString="Data Source=D-WP0003056;Initial Catalog=Live_ReviewsDatabaseFull;User ID=saic;Password=password" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<ValidationObjects SourceType="DPRTDData, Version=1.0.0.0, Culture=neutral, PublicKeyToken=70641225ee6a308c">
		<ConfigurationTypes>
			<add SourceType="DPRTDData.DPRTight" DisplayName="DPR Tight Validation"></add>
			<add SourceType="DPRTDData.DPRLite" DisplayName="DPR Lite Validation"></add>
			<add SourceType="DPRTDData.DPRTDData" DisplayName="DPR TD Validation"></add>
		</ConfigurationTypes>
	</ValidationObjects>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies></compilation></system.web></configuration>
